/*--------------------------------------------------------------
# Slider Css
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-slider .owl-theme .owl-nav {
        justify-content: inherit;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-slider .owl-theme .owl-nav [class*=owl-]+[class*=owl-] {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-slider .owl-theme .owl-nav {
        justify-content: inherit;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 30px;
    }

    .main-slider .owl-theme .owl-nav [class*=owl-]+[class*=owl-] {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .main-slider .owl-theme .owl-nav {
        display: none;
    }

    .main-slider__title {
        font-size: 45px;
        line-height: 55px;
    }

    .main-slider__text {
        position: relative;
        left: 0;
        bottom: 0;
        margin-top: 20px;
    }

    .main-slider__shape-2 {
        display: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
    .main-slider .owl-theme .owl-nav {
        justify-content: inherit;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-slider .owl-theme .owl-nav [class*=owl-]+[class*=owl-] {
        margin-top: 10px;
    }
}
