/* .service-frame {
   
    
} */
.service-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    display: flex;
    top: -120px;
    left: 150px;
}

.big-service {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    display: flex;
    top: -120px;
    left: 150px;
}