/*--------------------------------------------------------------
# Navigations One
--------------------------------------------------------------*/
.main-header {
    position: relative;
    display: block;
    width: 100%;
    background: transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 99;
    position: relative;
  }
  
  .main-header__top {
    position: relative;
    display: block;
    background-color: var(--vdt-extra2);
    padding: 0px 0;
    
  }
  
  .main-header__top-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-call {
    color: #FFFF;
    padding: 10px;
    background-color: #C79F47;
  }
  
  .main-header__top-address {
    position: relative;
    display: block;
  }
  
  .main-header__top-address-list {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .main-header__top-address-list li {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .main-header__top-address-list li+li {
    margin-left: 30px;
  }
  
  .main-header__top-address-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .main-header__top-address-list li .icon span {
    font-size: 13px;
    color: var(--vdt-base);
  }
  
  .main-header__top-address-list li .text {
    margin-left: 10px;
  }
  
  .main-header__top-address-list li .text p {
    font-size: 13px;
    color: #97a2b7;
    line-height: 15px;
    letter-spacing: var(--vdt-letter-spacing);
  }
  
  .main-header__top-address-list li .text p a {
    color: #97a2b7;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-header__top-address-list li .text p a:hover {
    color: var(--vdt-base);
  }
  
  .main-header__top-right {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #DC157B;
    justify-content: center;
  }
  
  .main-header__top-menu-box {
    position: relative;
    display: block;
  }
  
  .main-header__top-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .main-header__top-menu li+li {
    margin-left: 20px;
  }
  
  .main-header__top-menu li a {
    font-size: 13px;
    color: #97a2b7;
    display: flex;
    align-items: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-header__top-menu li a:hover {
    color: var(--vdt-base);
  }
  
  .main-header__top-social-box {
    margin-left: 0px;
  }
  
  .main-header__top-social {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 24px;
  }
  
  .main-header__top-social a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--vdt-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-header__top-social a:hover {
    color: var(--vdt-base);
  }
  
  .main-header__top-social a+a {
    margin-left: 25px;
  }
  
  .main-menu {
    position: relative;
    display: block;
    
  }

  .clearfix {
    margin-bottom: -25px;
  }
  
  .main-menu__wrapper {
    position: relative;
    display: block;
    margin-bottom: -10px;
  }
  
  .main-menu__wrapper-inner {
    display: block;
    padding-top: 10px;
  }
  
  .main-menu__left {
    display: block;
    float: left;
  }
  
  .main-menu__logo {
    float: left;
    display: block;
    padding: 41px 15px;
    margin-right: 45px;
    margin-top: -10px;
    background-image: url(../../pictures/iconLogo/logocurve.png);
  }

  .main-menu__logo-size {
    margin-top: -40px;
    max-width: 90px;
    
  }
  
  .main-menu__main-menu-box {
    display: flex;
    float: left;
    align-items: center;
    /*background-color: var(--vdt-extra);*/
    padding-left: 30px;
    /*border-radius: var(--vdt-bdr-radius);*/
  }
  
  .main-menu__main-menu-box-inner {
    display: block;
  }
  
  .main-menu__main-menu-box-search-get-quote-btn {
    display: flex;
    align-items: center;
    padding-left: 70px;
  }
  
  .main-menu__main-menu-box-search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .main-menu__main-menu-box-search:before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    content: "";
    left: -20px;
    width: 1px;
    background-color: var(--vdt-bdr-color);
  }
  
  .main-menu__search {
    font-size: 20px;
    color: var(--vdt-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-menu__search:hover {
    color: var(--vdt-base);
  }
  
  .main-menu__main-menu-box-get-quote-btn {
    font-size: 14px;
    padding: 12px 30px 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .main-menu__right {
    position: relative;
    display: block;
    float: right;
  }
  
  .main-menu__call {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .main-menu__call-icon {
    position: relative;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vdt-primary);
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-menu__call-icon:hover {
    background-color: var(--vdt-base);
    border: 2px solid var(--vdt-base);
    color: var(--vdt-white);
  }
  
  .main-menu__call-content {
    position: relative;
    margin-left: 10px;
    top: 5px;
  }
  
  .main-menu__call-content a {
    font-size: 16px;
    font-weight: 700;
    color: var(--vdt-black);
    display: inline-block;
    letter-spacing: var(--vdt-letter-spacing);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-menu__call-content a:hover {
    color: var(--vdt-base);
  }
  
  .main-menu__call-content p {
    font-size: 14px;
    letter-spacing: var(--vdt-letter-spacing);
    line-height: 16px;
  }
  
  .main-menu .main-menu__list,
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    padding-top: 5px;
  }
  
  
  
  @media (min-width: 1200px) {
  
    .main-menu .main-menu__list,
    .main-menu .main-menu__list>li>ul,
    .main-menu .main-menu__list>li>ul>li>ul,
    .stricky-header .main-menu__list,
    .stricky-header .main-menu__list>li>ul,
    .stricky-header .main-menu__list>li>ul>li>ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .main-menu .main-menu__list>li,
  .stricky-header .main-menu__list>li {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }
  
  .main-menu .main-menu__list>li+li,
  .stricky-header .main-menu__list>li+li {
    margin-left: 40px;
  }
  
  .main-menu .main-menu__list>li>a,
  .stricky-header .main-menu__list>li>a {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--vdt-gray);
    letter-spacing: var(--vdt-letter-spacing);
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-weight: 500;
  }
  
  .main-menu .main-menu__list>li>a::before,
  .stricky-header .main-menu__list>li>a::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid var(--vdt-base);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .main-menu .main-menu__list>li.current>a::before,
  .main-menu .main-menu__list>li:hover>a::before,
  .stricky-header .main-menu__list>li.current>a::before,
  .stricky-header .main-menu__list>li:hover>a::before {
    opacity: 1;
  }
  
  .main-menu .main-menu__list>li.current>a,
  .main-menu .main-menu__list>li:hover>a,
  .stricky-header .main-menu__list>li.current>a,
  .stricky-header .main-menu__list>li:hover>a {
    color: var(--vdt-black);
  }
  
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    position: absolute;
    top: 125%;
    left: 0;
    min-width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scaleY(0) translateZ(100px);
    transform: scaleY(0) translateZ(100px);
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
    z-index: 99;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    border-radius: var(--vdt-bdr-radius);
    padding: 31px 20px 31px;
  }
  
  .main-menu .main-menu__list>li>ul>li>ul>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul>li>ul {
    display: none;
  }
  
  .main-menu .main-menu__list>li:not(.megamenu-clickable):hover>ul,
  .main-menu .main-menu__list>li>ul>li:not(.megamenu-clickable):hover>ul,
  .stricky-header .main-menu__list>li:not(.megamenu-clickable):hover>ul,
  .stricky-header .main-menu__list>li>ul>li:not(.megamenu-clickable):hover>ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1) translateZ(0px);
    transform: scaleY(1) translateZ(0px);
  }
  
  .main-menu .main-menu__list>li>ul>li,
  .main-menu .main-menu__list>li>ul>li>ul>li,
  .stricky-header .main-menu__list>li>ul>li,
  .stricky-header .main-menu__list>li>ul>li>ul>li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    width: 100%;
    position: relative;
  }
  
  .main-menu .main-menu__list>li>ul>li+li,
  .main-menu .main-menu__list>li>ul>li>ul>li+li,
  .stricky-header .main-menu__list>li>ul>li+li,
  .stricky-header .main-menu__list>li>ul>li>ul>li+li {
    border-top: none;
    margin-top: 10px;
  }
  
  .main-menu .main-menu__list>li>ul>li>a,
  .main-menu .main-menu__list>li>ul>li>ul>li>a,
  .stricky-header .main-menu__list>li>ul>li>a,
  .stricky-header .main-menu__list>li>ul>li>ul>li>a {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: var(--vdt-gray);
    letter-spacing: 0;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 20px 3px;
    letter-spacing: var(--vdt-letter-spacing);
    -webkit-transition: 500ms;
    transition: 500ms;
    background-color: var(--vdt-white);
    border-radius: var(--vdt-bdr-radius);
  }
  
  .main-menu .main-menu__list>li>ul>li:hover>a,
  .main-menu .main-menu__list>li>ul>li>ul>li:hover>a,
  .stricky-header .main-menu__list>li>ul>li:hover>a,
  .stricky-header .main-menu__list>li>ul>li>ul>li:hover>a {
    background-color: var(--vdt-extra);
    color: var(--vdt-black);
  }
  
  .main-menu .main-menu__list>li>ul>li>a::before,
  .main-menu .main-menu__list>li>ul>li>ul>li>a::before,
  .stricky-header .main-menu__list>li>ul>li>a::before,
  .stricky-header .main-menu__list>li>ul>li>ul>li>a::before {
    position: absolute;
    top: 50%;
    right: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    font-size: 14px;
    color: var(--vdt-base);
    transform: translateY(-50%) scale(0);
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .main-menu .main-menu__list>li>ul>li:hover>a::before,
  .main-menu .main-menu__list>li>ul>li>ul>li:hover>a::before,
  .stricky-header .main-menu__list>li>ul>li:hover>a::before,
  .stricky-header .main-menu__list>li>ul>li>ul>li:hover>a::before {
    transform: translateY(-50%) scale(1);
  }
  
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    top: 0;
    left: 100%;
  }
  
  .main-menu .main-menu__list li ul li>ul.right-align,
  .stricky-header .main-menu__list li ul li>ul.right-align {
    top: 0;
    left: auto;
    right: 100%;
  }
  
  .main-menu-five__main-menu-box .main-menu__list>.megamenu,
  .main-menu-four__main-menu-box .main-menu__list>.megamenu,
  .main-menu-three__main-menu-box .main-menu__list>.megamenu,
  .main-menu-two__main-menu-box .main-menu__list>.megamenu,
  .main-menu__wrapper .main-menu__list>.megamenu {
    position: static;
  }
  
  .main-menu-five__main-menu-box .main-menu__list>.megamenu>ul,
  .main-menu-four__main-menu-box .main-menu__list>.megamenu>ul,
  .main-menu-three__main-menu-box .main-menu__list>.megamenu>ul,
  .main-menu-two__main-menu-box .main-menu__list>.megamenu>ul,
  .main-menu__wrapper .main-menu__list>.megamenu>ul {
    top: 100% !important;
    left: 0 !important;
    right: 0 !important;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .main-menu-five__main-menu-box .main-menu__list>.megamenu>ul>li,
  .main-menu-four__main-menu-box .main-menu__list>.megamenu>ul>li,
  .main-menu-three__main-menu-box .main-menu__list>.megamenu>ul>li,
  .main-menu-two__main-menu-box .main-menu__list>.megamenu>ul>li,
  .main-menu__wrapper .main-menu__list>.megamenu>ul>li {
    padding: 0 !important;
  }
  
  .stricky-header {
    position: fixed;
    z-index: 991;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    -webkit-transition: visibility 500ms ease, -webkit-transform 500ms ease;
    transition: visibility 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, visibility 500ms ease;
    transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  }
  
  @media (max-width: 1199px) {
    .stricky-header {
      display: none !important;
    }
  }
  
  .stricky-header.stricky-fixed {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
  
  .stricky-header .main-menu__inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 0;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  
  .mobile-nav__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
  }
  
  @media (min-width: 1200px) {
    .mobile-nav__buttons {
      display: none;
    }
  }
  
  .mobile-nav__buttons a {
    font-size: 20px;
    color: var(--vdt-base);
    cursor: pointer;
  }
  
  .mobile-nav__buttons a+a {
    margin-left: 10px;
  }
  
  .mobile-nav__buttons a:hover {
    color: var(--vdt-base);
  }
  
  .main-menu .mobile-nav__toggler {
    font-size: 20px;
    color: var(--vdt-white);
    cursor: pointer;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .main-menu .mobile-nav__toggler:hover {
    color: var(--vdt-primary);
  }
  
  @media (min-width: 1200px) {
    .main-menu .mobile-nav__toggler {
      display: none;
    }
  }
  
  /*--------------------------------------------------------------
  # Mobile Nav
  --------------------------------------------------------------*/
  .mobile-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
    transition: transform 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    visibility: hidden;
  }
  
  .mobile-nav__wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mobile-nav__wrapper.expanded {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    visibility: visible;
    -webkit-transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
    transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
    transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
    transition: transform 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  }
  
  .mobile-nav__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .mobile-nav__content {
    width: 300px;
    background-color: var(--vdt-pink);
    z-index: 10;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
    transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
    transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
    transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  }
  
  .mobile-nav__wrapper.expanded .mobile-nav__content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
    transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  }
  
  .mobile-nav__content .logo-box {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .mobile-nav__close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 18px;
    color: var(--vdt-white);
    cursor: pointer;
  }
  
  .mobile-nav__content .main-menu__list,
  .mobile-nav__content .main-menu__list>li>ul,
  .mobile-nav__content .main-menu__list>li>ul>li>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .mobile-nav__content .main-menu__list>li>ul,
  .mobile-nav__content .main-menu__list>li>ul>li>ul {
    display: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 0.5em;
  }
  
  .mobile-nav__content .main-menu__list>li:not(:last-child),
  .mobile-nav__content .main-menu__list>li>ul>li:not(:last-child),
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .mobile-nav__content .main-menu__list>li>a>.main-menu-border {
    display: none !important;
  }
  
  .mobile-nav__content .main-menu__list>li>a,
  .mobile-nav__content .main-menu__list>li>ul>li>a,
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: var(--vdt-font, "Rubik", sans-serif);
    font-weight: 500;
    height: 46px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .mobile-nav__content .main-menu__list>li>a.expanded .mobile-nav__content .main-menu__list>li>ul>li>a.expanded .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a.expanded {
    color: var(--vdt-base);
  }
  
  .mobile-nav__content .main-menu__list>li>a>button,
  .mobile-nav__content .main-menu__list>li>ul>li>a>button,
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button {
    width: 30px;
    height: 30px;
    background-color: var(--vdt-base);
    border: none;
    outline: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    padding: 0;
  }
  
  .mobile-nav__content .main-menu__list>li>a>button.expanded,
  .mobile-nav__content .main-menu__list>li>ul>li>a>button.expanded,
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button.expanded {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #fff;
    color: var(--vdt-base);
  }
  
  /* no menu after 2rd level dropdown */
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button,
  .mobile-nav__content .main-menu__list>li>ul>li>ul>li>ul {
    display: none !important;
  }
  
  .mobile-nav__content .main-menu__list li.cart-btn span {
    position: relative;
    top: auto;
    right: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .mobile-nav__content .main-menu__list li.cart-btn i {
    font-size: 16px;
  }
  
  .mobile-nav__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .mobile-nav__top .main-menu__login a {
    color: var(--vdt-text-dark);
  }
  
  .mobile-nav__container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .mobile-nav__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .mobile-nav__social a {
    font-size: 16px;
    color: var(--vdt-white);
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .mobile-nav__social a+a {
    margin-left: 30px;
  }
  
  .mobile-nav__social a:hover {
    color: var(--vdt-primary);
  }
  
  .mobile-nav__contact {
    margin-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .mobile-nav__contact li {
    color: var(--vdt-text-dark);
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .mobile-nav__contact li+li {
    margin-top: 15px;
  }
  
  .mobile-nav__contact li a {
    color: #ffffff;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .mobile-nav__contact li a:hover {
    color: var(--vdt-primary);
  }
  
  .mobile-nav__contact li>i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--vdt-base);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    margin-right: 10px;
    color: #fff;
  }
  
  .mobile-nav__container .main-logo,
  .mobile-nav__container .topbar__buttons,
  .mobile-nav__container .main-menu__language,
  .mobile-nav__container .main-menu__login {
    display: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header__top {
        display: none;
    }

    .main-menu .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 12px 0;
    }

    .main-menu .mobile-nav__toggler:hover {
        color: var(--insur-black);
    }

    .main-menu-two .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 22px 0;
    }

    .main-header-two__top-social-box {
        display: none;
    }

    .main-header-two__top-details-list {
        display: none;
    }

    .main-header-two__top-details-inner {
        justify-content: center;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 42px 0;
    }

    .main-menu-three__logo {
        padding-right: 50px;
    }









}


@media (max-width: 767px) {
    .main-header__top {
        display: none;
    }

    .main-menu .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 12px 0;
    }

    .main-menu .mobile-nav__toggler:hover {
        color: var(--insur-black);
    }

    .main-menu__right {
        display: none;
    }

    .main-menu__left {
        float: none;
    }

    .main-menu__logo {
        margin-right: 0;
    }

    .main-menu__main-menu-box {
        float: right;
        padding-right: 21px;
        padding-left: 21px;
    }

    .main-menu__main-menu-box-search-get-quote-btn {
        display: none;
    }

    .main-menu-two .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 22px 0;
    }

    .main-header-two__top-social-box {
        display: none;
    }

    .main-header-two__top-details-list {
        display: none;
    }

    .main-header-two__top-details-inner {
        justify-content: center;
    }

    .main-menu-two__search-box {
        display: none;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--insur-base);
        display: inline-block;
        padding: 42px 0;
    }

    .main-menu-three__left {
        float: none;
    }

    .main-menu-three__logo {
        padding-right: 0;
    }

    .main-menu-three__right {
        display: none;
    }

    .main-menu-three__main-menu-box {
        float: right;
    }





}