.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .backtop {
    position: relative;
    bottom: 50px;
    right: 20px;
    background-color: #C79F47;
    clip-path: circle();
    cursor: pointer;
    
}
.BTT {
    height: 40px;
}
  