.wave {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.row-title {
    background-color: rgba(186, 198, 206, 0.219);
    display: flexbox;
    justify-content: center;
    
}
.line1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 97%;
    font-size: x-small;
    margin-right: 0;
    
}

.col-line {
    flex:0;
    /* margin-top: 0.5em; */
}

.col-addr {
    border: 0;
    /* padding-top: 0.5em; */
}
.call {
    
    padding: 0.3em;
    background-color: rgb(163, 154, 24);
    width: 6em;
    border-width: 0;
    color: white;
    margin-right:0.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

a {
    color: white;
}

.col-social {
    background-color: rgb(211, 43, 113);
    color: #C79F47; 
    color: #DC157B;
    align-content: center; 
    margin-top: 0%;
}

.links {
    height: 15px;
}

.hans {
    align-items: center;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.vdt {
   
    width: 118.917px;
    height: 112px;
    padding: 0;
}
.vdtlogo {
    height: 55px;
}
.home-level {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.home-bar {
    justify-content: center;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -30px;
}

.btn-primary {
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: 0;
    --bs-btn-hover-border-color: white;
}



.dropdown-toggle {
    color: rgb(168, 37, 54);
}
.dropdown-menu {
    height: auto;
    margin-top: 18px;
    background-color: black;
    /* color: rgba(255, 255, 255, 0.199); */
    width: 280px;
}
.home-color {
    color: rgb(168, 37, 54);
    
}
 
.col-dial {
    margin-top: -30px;
    font-weight: bold;
    display:flex;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    flex-wrap: nowrap;
}
.p-icon {
    height: 40px;
    padding-right: 10px;
}

.pic {
    width: 100%;
    height: 35em;
    padding: 0;
    margin: 0;
    
}

.trim {
    height: 10px;
    width: 100vw;
    color: rgb(101, 132, 190);
}
.nav-item {
    padding-right: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
}

.nav-link1 {
    margin-left: 50%;
    border-left: 50%;
    padding-left: 50%;
}

.front-pic {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: grey;
    display: inline-block;   
}

li {
    display: inline-block;
    
}
/* 
.phone-number {

}
.phone
 */
