.offshoot {
    position: relative;
    top: -130px;
    left: 160px;
}
.big-typo {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.small-typo{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.heading {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.center-space {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sides {
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.h6 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.heads {
    color: #707070;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}