.News {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.dane {
    width: 75%;
    padding-bottom: 2em;
}


.picture-border {
    outline-style: dashed;
    outline-offset: 8px;
    outline-width: 3px;
    outline-color: #911c45;
    /* transform: rotate(-5deg); */
    border-radius: 20px
}
.c-man {
    margin-top: 2em;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #d44568;
}
.naming {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
