.flight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fre-gen {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.hi-faq {
    color: #C79F47;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    text-decoration-line: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.gen-inq {
    color: #131313;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.faq-item {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: inline-flex;
}